.container {
  margin-top: 2.5rem;
  justify-content: center;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0); }
  .container .form-container {
    width: 300px;
    max-width: 300px;
    margin: .5rem .3rem; }
