nav{
    grid-template-columns: auto;
    align-items: center;
    text-align: center;
}
ul{
    flex-direction: column;
}
nav{
    padding: 1rem .7rem;
    position: relative;
}
main{
    width: 100%;
    justify-content: center;
    height: 50vh;
    background: url('../images/pexels-pixabay-38544.jpg')no-repeat center center/cover;
}
.text{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    color: #333;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    margin: 1rem;

    
}
.text p{
    font-size: 1.5rem;
    color: white;
}

main h1{
    text-align: center;
    font-size: 2.4rem;
}

.spe{
    grid-template-columns: 1fr;
}
.spec{
    margin: 1rem 1.5rem;
}