* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
:root {
  font-size: 10px;
  --dancing: "Dancing Script", cursive;
  --kara: "Karantina", cursive;
  --nuni: "Nunito", sans-serif;
  --open: "Open Sans Condensed", sans-serif;
}
.gray {
  color: #ada7a4;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.8rem;
  font-family: var(--nuni);
  height: 100vh;
}
h2 {
  font-family: var(--kara);
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}
a {
  text-decoration: none;
  letter-spacing: 0.1rem;
}

h1 {
  font-family: var(--kara);
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}
p {
  font-family: var(--open);
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}
input {
  font-family: var(--nuni);
}
.container {
  max-width: 600px;
  margin: 3rem auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-10rem);
  padding: 1rem 0;
}
.form-container {
  max-width: 400px;
  width: 360px;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
span {
  display: inline-block;
  background: #2675b3;
  color: white;
  padding: 0.3rem;
  border-radius: 0.7rem;
}
input {
  height: 40px;
  margin-bottom: 0.8rem;
  border: 0;
  outline: 0;
  border: 1px solid#333;
  padding: 1rem;
}

button[type="submit"] {
  border: 0;
  background: #2675b3;
  color: white;
  border: 1px solid #2675b3;
  font-size: 1.7rem;
  height: 40px;
  margin-bottom: 0.8rem;
  border: 0;
  outline: 0;
  padding: 1rem;
}
input:last-child {
  background: #2675b3 !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
a {
  color: #2675b3;
  font-weight: bold;
  font-size: 1.7rem;
}
/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #2675b3;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-text-fill-color: black;
}
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 1.6rem;
}
