.container {
  height: 100vh;
  margin: 0;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 1rem;
}

.container .header-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .header-login h1 span {
  background: #0d6efd;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  display: inline-block;
}
.container form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a {
  text-decoration: none;
}

/*Loader*/
.loader {
  background: #fff;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: wait;
  z-index: 9999;
  position: fixed;
}

.loader div {
  background: #fff;
  width: 16px;
  height: 32px;
  margin-left: 10px;
  animation: loader 1.5s infinite;
}

@keyframes loader {
  50% {
    height: 64px;
  }
}

.loader div:nth-child(1) {
  background: #0d6efd;
  animation-delay: -0.4s;
}

.loader div:nth-child(2) {
  background: #0d6efd;
  animation-delay: -0.2s;
}

.loader div:nth-child(3) {
  background: #0d6efd;
  animation-delay: 0s;
}

.navbar-brand span {
  background: #0d6efd;
  color: white;
  padding: 0.4rem 0.5rem;
  border-radius: 3px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar {
  margin-bottom: 1rem;
}

.blue {
  color: #0d6efd;
}
